In [ ]:
import tensorflow as tf
print(tf.__version__)

import keras 
print(keras.__version__)

import gensim
print(gensim.__version__)

import sklearn
print(sklearn.__version__)

import nltk
print(nltk.__version__)
# nltk.download()

2.8.2
2.8.0
3.6.0
1.0.2
3.7

In [ ]:
pip install konlpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     |████████████████████████████████| 19.4 MB 1.2 MB/s
Collecting JPype1>=0.7.0
  Downloading JPype1-1.4.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (453 kB)
     |████████████████████████████████| 453 kB 65.1 MB/s
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.21.6)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.9.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (4.1.1)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.4.0 konlpy-0.6.0

In [ ]:
import konlpy
print(konlpy.__version__)

import pandas as pd
print(pd.__version__)

0.6.0
1.3.5

In [ ]:
sr = pd.Series([1700, 1800, 100, 500], index=['피자', '치키', '콜라', '맥주'])
print(sr)

피자    1700
치키    1800
콜라     100
맥주     500
dtype: int64

In [ ]:
print('시리즈 값 : {}'.format(sr.values))
print('시리즈 인덱스 : {}'.format(sr.index))

시리즈 값 : [1700 1800  100  500]
시리즈 인덱스 : Index(['피자', '치키', '콜라', '맥주'], dtype='object')

In [ ]:
values = [[1,2,3],[4,5,6],[7,8,9]]
index = ['one','two','three']
columns = ['A','B','C']

df = pd.DataFrame(values, index=index, columns=columns)
print(df)

       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

In [ ]:
data = [['1000','Steve',90.72],
        ['1001','James',78.90],
        ['1002','Doyeon',98.43],
        ['1003','Jane',64.19],
        ['1004','Pilwoong',81.30],
        ['1005','Tony',99.13]]

df = pd.DataFrame(data)
print(df)

      0         1      2
0  1000     Steve  90.72
1  1001     James  78.90
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.13

In [ ]:
df = pd.DataFrame(data, columns=['학번','이름','점수'])
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.90
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.13

In [ ]:
data = {
    '학번' : ['1000','1001','1002','1003'],
    '이름' : ['Steve','James','Doyeon','Jene'],
    '점수' : [90.72, 78.09, 98.43, 64.19] 
}
df = pd.DataFrame(df)
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.90
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.13

In [ ]:
print(df.head(3))

     학번      이름     점수
0  1000   Steve  90.72
1  1001   James  78.90
2  1002  Doyeon  98.43

In [ ]:
print(df.tail(3))

     학번        이름     점수
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.13

In [ ]:
print(df['학번'])

0    1000
1    1001
2    1002
3    1003
4    1004
5    1005
Name: 학번, dtype: object

In [ ]:
RangeIndex(start=0, stop=6, step=1)

NameError: ignored